.ArticlePostSection {
  margin: auto;
  width: 50%;
  padding: 10px;
    background-color: #f9f9f9 , transparent(0.1);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    
  }
  
  .ArticlPosteSection > * {
    margin-bottom: 20px;
  }
  
  .TitleBox {
    margin-bottom: 10px;
  }
  
  .Form {
    margin-top: 20px;
  }
  
  .Form.Field {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .Form.Field label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .Form.Field .TextArea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    width: 100%;
  }
  
  .Form.Field .TextArea:focus {
    border-color: #aaa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .Tags {
    margin-top: 20px;
    text-align: left;
  }
  
  .Tags ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .Tags li {
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .Tags a {
    text-decoration: none;
    color: #337ab7;
  }
  
  .Tags a:hover {
    color: #23527c;
  }